body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #cc00ff;
}

@keyframes example {
  from {background-color: #99ff33;}
  to {background-color: blue;}
}

.navbar {
  background-color: #ccff33;
  border-radius: 2px;
  max-width: 800px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.title {
  text-decoration: underline;
  margin: auto;
  max-width: 1280px;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 2px 2px #ff0000;
}

.para {
    background-color: red;
}

.navbar a {
  color: #313236;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
